

body {
    color: white;
    background: blue;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    text-align: right;
    padding: 15px;
    margin: 3px;
    border-radius: 5px;
    background-color: rgba(91, 170, 204, 0.844);
    align-items: center;
    display: block;
}

li {
    display: inline;
    /* border: 1px solid white;  */
    padding: 10px;
    margin: 3px;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: blue;
}

a:visited {
    color: white;
}

a:hover{
    transition: all .5s ease 0s;
    color: black;
    background-color: yellow;
}